
.scrollbard {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scrollbard::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.centercon {
    object-position: 50% 50%;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    z-index: -2;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: blur(2px);
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent black background */
    color: white;
    text-align: center;
    z-index: -1;
}

.resizeimgT {
    max-width: 100%;
    height: auto;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#iframeA {
    width: 95%;
    height: 70%;
    border: none;
}

#iframeB {
    width: 95%;
    height: 70%;
    border: none;
}

.buttons {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

